.container {
    background-color: blue;
    width: 90vw;
    height: 40vw;
    position: relative;
    font-size: 100px;
}

.box {
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* transition: all 3s ease-in-out 1s; */
    animation: identifier 3s ease-in-out;
}

@keyframes identifier {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translateY(-35vw);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(85vw, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
