.container {
    width: 80vw;
    border: 2px solid black;
    display: grid;
    grid-template-areas: "nav nav nav"
                         "side article article"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    border: 2px solid red;
    height: 55px;
    width: 55px;
}

.item1 {
    grid-area: nav;
    background-color: aqua;
}

.item2 {
    grid-area: side;
    background-color: wheat;
}

.item3 {
    grid-area: article;
    background-color: chocolate;
}

.item4 {
    grid-area: footer;
    background-color: blueviolet;
}

.item5 {
    grid-area: footer footer;
    background-color: chartreuse;
}