/* Most probably start working from 6th or 7th September*/

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --btn-color: #e50914;
    --text-color: rgb(255, 255, 255);
    --font: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(http://assets.nflxext.com/ffe/siteui/vlv3/258d0f77-2241-4282-b613-8354a7675d1a/web/IN-en-20250721-TRIFECTA-perspective_cadc8408-df6e-4313-a05d-daa9dcac139f_large.jpg);
    background-size: cover;
    background-position: -8px 15%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 92px;
    z-index: 2;
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 15px;
}

.logo {
    width: 9.25rem;
    height: 2.5rem;
    gap: 10px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 0;
}

.btn {
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.sign-in-btn {
    background-color: var(--btn-color);
    border: none;
    color: white;
    height: 32px;
    padding: 0 15px 0 15px;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: normal;
    cursor: pointer;
    max-width: 78px;
    width: auto;
    border-radius: 4px;
}

#languages {
    appearance: none;
    height: 32px;
    padding: 0 15px 0 15px;
    width: 120px;
    min-width: 90px;
    text-align: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
}

.language-container {
    position: relative;
    display: flex;
    align-items: center;
}

.btn #languages {
    font-family: inherit;
    font-size: 1rem;
    height: 32px;
    border-radius: 4px;
    outline: none;
}

@media (min-width: 768px) {
    nav {
        max-width: 80.7vw;
        height: 80px;
    }

    .logo {
        width: 9.25rem;
    }
}

#languages:focus {
    outline: 2px solid white;
}

.sign-in-btn:hover,
.sign-in-btn:active {
    background-color: #f40612;
}

.content {
    color: white;
    z-index: 2;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: calc(100vh - 92px);
    padding: 0 20px;
}

.content .text1 {
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--txt-color);
    margin-bottom: 2px;
    font-family: var(--font);
    font-style: normal;
    letter-spacing: -2px;
    line-height: 70px;
}

.content .text2 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 17px;
    font-family: var(--font);
    font-style: normal;
    letter-spacing: -2px;
    line-height: 70px;
}

.content .text3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: var(--font);
    font-weight: 600;
}

.content .price {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.content .check {
    background-color: var(--btn-color);
    color: var(--txt-color);
}