@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(http://assets.nflxext.com/ffe/siteui/vlv3/258d0f77-2241-4282-b613-8354a7675d1a/web/IN-en-20250721-TRIFECTA-perspective_cadc8408-df6e-4313-a05d-daa9dcac139f_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

nav {
    position: relative;
    z-index: 2;
    max-width: 80vw;
    margin: 0 auto;

    display: flex;
    justify-content:space-between;
    align-items: center;
    /* padding-top: 1px; */
    /* align-items: center; */
    /* padding: 24px 0 0 127px; */
    height: 92px;
    padding-top: 15px;
}

.logo {
    width: 9.25rem;
    height: 2.5rem;
    /* margin-left: 21px; */
    gap: 10px;
}

nav div{
    display: flex;
    /* align-items: center; */
    gap: 10px;
    margin-right: 7px;
}

.btn {
    border: 1px solid white;
    background-color: black;
    color: white; 
    cursor: pointer;
    border-radius: 10px;   
}

.sign-in-btn {
    background-color: #e50914;
    border: none;
    color: white;
    height: 4.7vh; 
    padding: 7px 17px;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: normal;
    cursor: pointer;
    width: 5.4vw;
    border-radius: 5px;
    font-size: 0.9rem;
}

#languages {
    height: 4.7vh; 
    padding: 1px;
    width: 8vw;
    text-align: center;
    /* border: 1px solid #aaa; */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    nav {
        max-width: 80.7vw;
        height: 80px;
    }

    .logo {
        width: 9.25rem;
    }

    .btn {
        /* padding: 8px 12px; */
        /* font-size: 1rem; */
    }
}

#languages:active { 
    border: 3px solid white;
}

.sign-in-btn:active {
    background-color: #96393e;
}